{% extends "base.html" %}
{% block title %} {{ super() }} - Temperatur {% endblock %}

{% block styles %}
    {{ super() }}
    {% for css in resources.css_files %}
        <link href="{{ css }}" rel="stylesheet">
    {% endfor %}
    {% for css_raw in resources.css_raw %}
        <style>{{ css_raw }}</style>
    {% endfor %}
{% endblock %}

{% block scripts %}
    {% for js in resources.js_files %}
        <script src="{{ js }}"></script>
    {% endfor %}
    {% for js_raw in resources.js_raw %}
        <script>{{ js_raw|safe }}</script>
    {% endfor %}
    {{ script|safe }}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Temperatur</h1>

    {{ div|safe }}
{% endblock %}
